body {
    margin: auto;
    width: 1024px;
}

.wraper {
    background-color: cornsilk;
}

ul[class] {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 8px;
}

header {
    display: flex;
    background-color: rgb(211, 228, 238);
}

.about-flex {
    display: flex;
    justify-content: space-between;
}

ul.footer {
    margin: 0;
}

ul.footer li {
    display: inline;
}